In [31]:
pip install nltk

Requirement already satisfied: nltk in c:\users\user\anaconda3\lib\site-packages (3.5)
Requirement already satisfied: regex in c:\users\user\anaconda3\lib\site-packages (from nltk) (2020.10.15)
Requirement already satisfied: tqdm in c:\users\user\anaconda3\lib\site-packages (from nltk) (4.50.2)
Requirement already satisfied: click in c:\users\user\anaconda3\lib\site-packages (from nltk) (7.1.2)
Requirement already satisfied: joblib in c:\users\user\anaconda3\lib\site-packages (from nltk) (0.17.0)
Note: you may need to restart the kernel to use updated packages.

In [35]:
import pandas as pd
import numpy as np
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Flatten
from keras.layers.embeddings import Embedding
from tensorflow.keras import layers
from keras.layers import Dropout
from keras.layers import Conv1D
from keras.layers import MaxPooling1D
from keras.layers import LSTM
import os
import glob
from sklearn.feature_extraction.text import CountVectorizer
import string
import nltk
from nltk.stem import WordNetLemmatizer
from nltk.corpus import wordnet

In [36]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\User\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\wordnet.zip.

True

In [2]:
path_pos='..\\data\\pos'
os.chdir(path_pos)

In [5]:
# for positive class

#glob.glob implementation from python document: https://docs.python.org/3/library/glob.html
start=1
text=[]
for doc in glob.glob('*.txt'):
    f=open(doc,'r')
    content=f.readlines()
    f.close()
    sent=' '.join(content)
    punc=string.punctuation
    new_string=sent.translate(str.maketrans('','',punc))
    string_=new_string.translate(str.maketrans('','','\n1234567890'))
    string_=[string_]
    if start==1:
        text.append(string_)
        start=0
    else:
        text.append(string_)

In [6]:
text_pos=pd.DataFrame(text)
text_pos.columns=['text']
text_pos['type']=1
text_pos

                                                  text  type
0    films adapted from comic books have had plenty...     1
1    every now and then a movie comes along from a ...     1
2    youve got mail works alot better than it deser...     1
3      jaws  is a rare film that grabs your attenti...     1
4    moviemaking is a lot like being the general ma...     1
..                                                 ...   ...
995  wow  what a movie   its everything a movie can...     1
996  richard gere can be a commanding actor  but he...     1
997  glorystarring matthew broderick  denzel washin...     1
998  steven spielbergs second epic film on world wa...     1
999  truman   trueman   burbank is the perfect name...     1

[1000 rows x 2 columns]

In [7]:
# add path for negative
path_neg='..\\neg'
os.chdir(path_neg)

In [8]:
text_neg=pd.DataFrame(text)
text_neg.columns=['text']
text_neg['type']=-1
text_neg

                                                  text  type
0    films adapted from comic books have had plenty...    -1
1    every now and then a movie comes along from a ...    -1
2    youve got mail works alot better than it deser...    -1
3      jaws  is a rare film that grabs your attenti...    -1
4    moviemaking is a lot like being the general ma...    -1
..                                                 ...   ...
995  wow  what a movie   its everything a movie can...    -1
996  richard gere can be a commanding actor  but he...    -1
997  glorystarring matthew broderick  denzel washin...    -1
998  steven spielbergs second epic film on world wa...    -1
999  truman   trueman   burbank is the perfect name...    -1

[1000 rows x 2 columns]

In [9]:
train_pos=text_pos.iloc[:700,:]
test_pos=text_pos.iloc[700:,:]
train_neg=text_neg.iloc[:700,:]
test_neg=text_neg.iloc[700:,:]
train_all=pd.concat([train_pos,train_neg],axis=0)
train_all.index=np.arange(0,len(train_all))
test_all=pd.concat([test_pos,test_neg],axis=0)
test_all.index=np.arange(0,len(test_all))

In [12]:
vectorizer=CountVectorizer()

In [16]:
train_all

                                                   text  type
0     films adapted from comic books have had plenty...     1
1     every now and then a movie comes along from a ...     1
2     youve got mail works alot better than it deser...     1
3       jaws  is a rare film that grabs your attenti...     1
4     moviemaking is a lot like being the general ma...     1
...                                                 ...   ...
1395  who would have thought   jim carrey does drama...    -1
1396  capsule  this is a harrowing look at a rarely ...    -1
1397  another independent film  this comedy  which w...    -1
1398  a frequent error is the categorization of a te...    -1
1399  very few people would be unaware of beavis  bu...    -1

[1400 rows x 2 columns]

In [17]:
# Count vector + tokenize
X_train= vectorizer.fit_transform(train_all.text)
print(X_train.toarray())

In [20]:
len(vectorizer.get_feature_names_out())

28921

In [21]:
X_pos= vectorizer.fit_transform(train_pos.text)
print(X_pos.toarray())

[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 2 0 0]
 [0 0 0 ... 0 0 0]]

In [23]:
len(vectorizer.get_feature_names_out())

28921

In [28]:
# vectorizer with stop words
vectorizer=CountVectorizer(stop_words='english')

In [29]:
# Count vector + tokenize
X_train= vectorizer.fit_transform(train_all.text)
print(X_train.toarray())

[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 2 0 0]
 [0 0 0 ... 0 0 0]]

In [30]:
len(vectorizer.get_feature_names_out())

28616

### Lemmatizer

In [37]:
lemmatizer=WordNetLemmatizer()

In [40]:
lemmatizer.lemmatize('dogs')

'dog'

In [44]:
# for verbs
lemmatizer.lemmatize('went',pos='v')

'go'